$font-size: 14px;
$font-weight: 300;
$font-size-1: 64px;
$font-size-2: 48px;
$font-size-3: 32px;
$font-size-4: 24px;
$font-size-5: 16px;
$font-size-6: 13px;
$font-size-7: 10px;
$font-primary: 'Mukta', Avenir, Helvetica, Arial, sans-serif;
$font-secondary: 'Inter', Avenir, Helvetica, Arial, sans-serif;

$text-color: #333333;
$text-color-dark: #000000;
$text-color-light: #666666;
$text-color-lighter: #999999;
$success-color: #00FFA3;
$warning-color: #ffac5f;
$info-color: #00a3ff;
$purple-color: #ad00ff;
$danger-color: #ff1183;
$gray-color: #648f98;

$background-color: #eff3f8;

$box-shadow: 0 3px 5px rgba(0, 0, 0, 0.02), 0 0 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.08);

$container-max-width: 1110px;